/* :root {
  --primary: #2874f0;
  --secondary: #ff9f00;
  --dark: #1c1c1c;
  --light: #f5f7fa;
  --text: #333;
}

body {
  background: var(--light);
  font-family: "Segoe UI", sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.5;
}

.App {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 20px;
  background: #f5f5f5;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
}

img {
  max-width: 100%;
  display: block;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: 10px;
}
.mt-2 {
  margin-top: 20px;
}
.mt-3 {
  margin-top: 30px;
} */




@import "tailwindcss";
